<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSLocalNetworkUsageDescription</key>
  <string>ARMusic 需要在局域网内发现电脑端并同步音乐。</string>
  <key>NSAppTransportSecurity</key>
  <dict>
    <key>NSAllowsLocalNetworking</key>
    <true/>
  </dict>
  <key>UIBackgroundModes</key>
  <array>
    <string>audio</string>
  </array>
  <key>LSSupportsOpeningDocumentsInPlace</key>
  <true/>
</dict>
</plist>
